#problam 1 :

"""def g():
    a = int(input("Enter first number : "))
    b = int(input( "Enter second namber : "))
    c = int(input("Enter third number : "))

    if(a>b)and(a>c):
        print("A is max : ", a)
    elif (b>c):
        print("B is max : ", b)
    else:
        print(" C is max : ", c)"""



#problam 2 :

'''num = int(input("Enter your number : "))

if(num%2):
    print("odd number ")
else:
    print("Even number")'''



# problam 3 :

'''num = int(input("Enter number = "))

if num>0:
    print("it's positive Number : " , num)

elif(num==0):
    print("it's zero : ",num)

else:
    print("it's nagative number :",num)'''



# problam 4 :

'''import math

def triagle_area():
    A = float(input( " Enter first arm = "))
    B = float( input(" Enter second arm = "))
    C = float(input( " Enter third arm = "))
    if(A+B)>C and (B+C)>A and ( A+C)>B:
        s= (A+B+C)/ 2
        area= math.sqrt(s*(s-A)*(s-B)*(s-C))
        print("triangle area : ",area)
    else:
        print( "triangle is not possible")'''



# problam 5 :

'''amt = int(input(" Enter your namber : "))

if (amt>0):
    if amt <= 5000:
        disc= amt*0.10
    elif amt<= 15000:
        disc= amt*0.15
    elif amt<=25000:
        disc= 0.20 *amt
    else:
        disc= 0.5*amt


    print("Discount Amount : ", disc)
    print(" To be paid by customer : ",amt-disc)

else:
    print("Invalid Amount ")'''



#program (6)

'''def grsde(m):
    if ( m >= 80):
        return"A+"
    elif m>=75:
        return "A"
    elif m >= 70:
        return "A-"
    elif m >= 65:
        return "B+"
    elif m >= 60:
        return "B"
    elif m >= 55:
        return "B-"
    elif m >= 50:
        return "c+"
    elif m >= 45:
        return "C"
    elif m >= 40:
        return "D"
    else:
        return"F"
def point(m):
    if ( m >= 80):
        return"4"
    elif m>=75:
        return "3.75"
    elif m >= 70:
        return "3.50"
    elif m >= 65:
        return "3.25"
    elif m >= 60:
        return "3"
    elif m >= 55:
        return "2.75"
    elif m >= 50:
        return "2.5"
    elif m >= 45:
        return "2.25"
    elif m >= 40:
        return "2"
    else:
        return"0"


m = int(input("Enter The Marks = "))
print(("Your Grade = "),grsde(m) ,"and point" ,point(m))'''



# problam 7 :
'''
def calpoint(mark):
    if mark>=80:
        return 5
    elif mark>=70:
        return 4
    elif mark>=60:
        return 3.5
    elif mark>=50:
        return 3
    elif mark>=40:
        return 2
    elif mark>=33:
        return 1
    else:
        return 0

std=int(input("How Many Student= "))
for i in range(0,std):
    nosub=int(input("\n\t Number of Subject= "))
    obtain=[]
    for i in range(0,nosub):
        ob=int(input("Enter Obtain Marks : "))
        obtain.append(ob)
    poin=[]
    for i in obtain:
        poin.append(calpoint(i))
    p=1
    for i in poin:
        p=p*i
    if(p!=0):
        print("GPA:",sum(poin)/len(poin))
    else:
        print("In GP/ ",p)
    print(".........................")





#problam 8 :

def cl(Year):
    
    if((Year % 4000) or (Year % 100 != 0) and (Year % 4 == 0)):
        print("Given Year is a leap Year")
    else:
        print ("Given Year is not a leap Year")

Year =  int(input("Enter the number: "))
cl(Year)



#problam 9 :

import math

def quadratic():
    a=int(input("a = "))
    b=int(input("b = "))
    c=int(input("c = "))
    d=(b*b)-(4*a*c)
    if(d<0):
        print("Roots are imaginary")
    else:
        x1=(-b+math.sqrt(d))/(2*a)
        x2=(-b+math.sqrt(d))/(2*a)
        print("X1=%.2f"%x1, "X2=%.2f"%x2)
    print("Roots are Real")

quadratic()



#problam 10 :

def add(num1,num2):
    return num1+num2
def subtract(num1,num2):
    return num1-num2
def multiply(num1,num2):
    return num1*num2
def divide(num1,num2):
    return num1/num2
print("Please select operation-\n"\
    "1. Addition\n"\
    "2. Subtraction\n"\
    "3. Multiplication\n"\
    "4. Division\n")

select = int(input("Select operations form 1, 2, 3, 4: "))

if select > 4 or select<=0:
    print("Invalid Selection, Please Try Again")
else:
    number_1 = int(input("Enter first number: "))
    number_2= int(input("Enter second number: "))
    if select == 1:
        print(number_1, "+", number_2, "=",add(number_1,number_2))
    elif select == 2:
        print(number_1,"-" ,number_2, "=",subtract(number_1,number_2))
    elif select == 3:
        print(number_1, "*", number_2, "=" ,multiply(number_1 , number_2))
    elif select == 4:
        print(number_1, "/", number_2, "=",divide(number_1 , number_2))


'''









